<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/bootstrap-datepicker-dist/css/bootstrap-datepicker.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/index_style.css}" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>BusChecker</title>
</head>
<body ng-app="BusChecker" ng-controller="AppController">

    <div ng-if="isLogged()">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Bus Checker</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/checker}">Info</a></li>
                    </ul>

                    <form class="navbar-form navbar-right">
                        <button ng-click="logout()" type="submit" class="btn btn-primary">Wyloguj się</button>
                    </form>
                    <p class="navbar-text navbar-right">Zalogowany jako: {{loggedUser.username}}</p>
                </div>
            </div>
        </nav>
    </div>

    <div ng-view="true"></div>

    <script th:src="@{/js/jquery-3.1.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap-datepicker-dist/js/bootstrap-datepicker.js}" type="text/javascript"></script>

    <script th:src="@{/angular-1.5.8/angular.js}" type="text/javascript"></script>
    <script th:src="@{/angular-1.5.8/angular-resource.js}" type="text/javascript"></script>
    <script th:src="@{/angular-1.5.8/angular-route.js}" type="text/javascript"></script>
    <script th:src="@{/js/bus_app.js}" type="text/javascript"></script>
    <script th:src="@{/js/controller/app_controller.js}" type="text/javascript"></script>
    <script th:src="@{/js/controller/checker_controller.js}" type="text/javascript"></script>
    <script th:src="@{/js/controller/login_controller.js}" type="text/javascript"></script>
    <script th:src="@{/js/controller/register_controller.js}" type="text/javascript"></script>
</body>
</html>