<div ng-init="init()">
    <nav class="navbar navbar-default" style="margin-top: 50px">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left: 140px">
                <ul class="nav navbar-nav">
                    <li><a ng-click="getOtherDrivers()" data-toggle="modal" data-target="#addDriverModal">Dodaj
                        kierowców</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Twoi kierowcy<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="driver in data.drivers"><a ng-click="choseDriver(driver)">{{driver.firstname}}
                                {{driver.lastname}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-if="data.drivers.length == 0" class="alert alert-info empty-message">
            <div>Nie masz dodanych jeszcze żadnych kierowców, możesz to zrobić</div>
            <div>wybierając z menu -> Dodaj kierowców</div>
        </div>

        <div class="row col-md-10 col-md-offset-1" ng-if="data.drivers.length > 0">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <span class="active-driver">{{chosenDriver.firstname}} {{chosenDriver.lastname}}</span>
                    <button ng-click="deleteDriverFromUser()" class="btn btn-danger glyphicon glyphicon-remove pull-right"></button>
                </div>
            </div>

            <div style="width: 50%">
                <div class="panel panel-primary panel-margin">
                    <div class="panel-heading panel-info clearfix panel-header">Wybierz wóz
                        <div class="pull-right">
                            <button ng-click="getAllBuses()" class="btn btn-success glyphicon glyphicon-plus"
                                    data-toggle="modal" data-target="#addBusModal"></button>
                            <button ng-click="saveBuses()" class="btn btn-info glyphicon glyphicon-save"></button>
                            <button ng-click="deleteBusFromUser()"
                                    class="btn btn-danger glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
                    <table class="table">
                        <tr ng-click="selectBus(bus)" ng-repeat="bus in chosenDriver.buses"
                            ng-class="{'active-bus': bus === selectedBus}">
                            <td>{{bus.busName}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-if="selectedBus">
                <div class="panel panel-primary panel-margin">
                    <div class="panel-heading panel-info clearfix panel-header">Szczegóły wozu</div>
                    <table class="table">
                        <tr>
                            <td class="row col-md-7">Nazwa wozu</td>
                            <td class="row col-md-5">
                                <input ng-model="selectedBus.busName" class="form-control" type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Numer rejestracyjny</td>
                            <td><input ng-model="selectedBus.sideNumber" class="form-control" type="text"/></td>
                        </tr>
                        <tr>
                            <td>Numer wozu</td>
                            <td><input ng-model="selectedBus.registerNumber" class="form-control" type="text"/></td>
                        </tr>
                        <tr>
                            <td>Ilość miejsc</td>
                            <td><input ng-model="selectedBus.numberOfSeats" class="form-control" type="number"/></td>
                        </tr>
                        <tr>
                            <td>Ostatni przegląd techniczny</td>
                            <td><input ng-model="selectedBus.technicalReviewDate" class="form-control" type="date"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Ostatni przegląd windy</td>
                            <td><input ng-model="selectedBus.liftReviewDate" class="form-control" type="date"/></td>
                        </tr>
                        <tr>
                            <td>Ostatni przegląd tachografu</td>
                            <td><input ng-model="selectedBus.tachographReviewDate" class="form-control" type="date"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Ostatni przegląd gaśnicy</td>
                            <td><input ng-model="selectedBus.extinguisherReviewDate" class="form-control" type="date"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Ubezpieczenie</td>
                            <td><input ng-model="selectedBus.insuranceDate" class="form-control" type="date"/></td>
                        </tr>
                    </table>
                </div>

                <div class="panel panel-primary panel-margin">
                    <div class="panel-heading clearfix panel-header">Opiekuni
                        <div class="pull-right">
                            <button class="btn btn-success glyphicon glyphicon-plus" data-toggle="modal"
                                    data-target="#editSitterModal"></button>
                            <button ng-click="saveSitters()" class="btn btn-info glyphicon glyphicon-save"></button>
                        </div>
                    </div>
                    <table class="table">
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <tr ng-repeat="sitter in selectedBus.sitters">
                            <td class="col-md-5"><input ng-model="sitter.firstname" class="form-control" type="text"/>
                            </td>
                            <td class="col-md-6"><input ng-model="sitter.lastname" class="form-control" type="text"/>
                            </td>
                            <td class="col-md-1">
                                <a ng-click="deleteSitterFromBus(sitter)"
                                   class="glyphicon glyphicon-remove-sign delete-driver pull-right"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Adding new driver (modal) -->
    <div id="addDriverModal" class="modal fade modal-top-margin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Dodawanie kierowców</h4>
                </div>
                <div class="modal-body">
                    <div class="add-driver-message">Zaznacz kierowców, których chcesz dodać z listy lub dodaj nowego:
                    </div>
                    <div ng-if="addingElement == false">
                        <div ng-repeat="driver in otherDrivers" class="drivers-list">
                            <md-checkbox ng-model="driver.chosen">
                                {{driver.firstname}} {{driver.lastname}}
                            </md-checkbox>
                        </div>
                        <button ng-click="setAddingElement(true)" class="btn btn-success">Dodaj nowego</button>
                    </div>

                    <div ng-if="addingElement == true">
                        <table class="new-driver-table">
                            <tr>
                                <td class="new-driver-table-row">
                                    <div class="form-group">
                                        <div>Imię</div>
                                        <input ng-model="newElement.firstname" type="text"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div>Nazwisko</div>
                                        <input ng-model="newElement.lastname" type="text"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>Telefon</div>
                                        <input ng-model="newElement.phoneNumber" type="number"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div>Email</div>
                                        <input ng-model="newElement.email" type="email"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>Powiadomienie dni wczęśniej</div>
                                        <input ng-init="newElement.notificationBefore=14"
                                               ng-model="newElement.notificationBefore" type="number"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" ng-init="newElement.chosen=true"/>
                        <button ng-click="addNewDriver()" class="btn btn-primary">Dodaj kierowcę</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" ng-click="clear()" data-dismiss="modal">Anuluj</button>
                    <button class="btn btn-primary" ng-click="saveDrivers()" data-dismiss="modal">Zapisz</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Adding new bus (modal) -->
    <div id="addBusModal" class="modal fade modal-top-margin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Dodawanie wozów do kierowcy: {{chosenDriver.firstname}}
                        {{chosenDriver.lastname}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="bus in buses">
                        <md-checkbox ng-model="bus.chosen">{{bus.busName}}</md-checkbox>
                    </div>
                    <button ng-click="setAddingElement(true)" class="btn btn-primary">Dodaj nowy wóz</button>
                    <div ng-if="addingElement == true">
                        <table class="new-driver-table">
                            <tr>
                                <td class="new-driver-table-row">
                                    <div class="form-group">
                                        <div>Nazwa wozu</div>
                                        <input ng-model="newElement.busName" type="text"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div>Numer wozu</div>
                                        <input ng-model="newElement.sideNumber" type="text"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>Numer rejestracyjny</div>
                                        <input ng-model="newElement.registerNumber" type="text"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div>Ilość miejsc</div>
                                        <input ng-model="newElement.numberOfSeats" type="number"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>Ostatni przegląd techniczny</div>
                                        <input ng-model="newElement.technicalReviewDate" class="form-control"
                                               type="date"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div>Ostatni przegląd windy</div>
                                        <input ng-model="newElement.liftReviewDate" class="form-control" type="date"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>Ostatni przegląd gaśnicy</div>
                                        <input ng-model="newElement.extinguisherReviewDate" class="form-control"
                                               type="date"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div>Ostatni przegląd tachografu</div>
                                        <input ng-model="newElement.tachographReviewDate" class="form-control"
                                               type="date"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>Data ubezpieczenia wozu</div>
                                        <input ng-model="newElement.insuranceDate" class="form-control" type="date"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-info" ng-click="addNewBus()">Dodaj wóz</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" ng-click="clear()" data-dismiss="modal">Anuluj</button>
                    <button class="btn btn-primary" ng-click="saveNewBuses()" data-dismiss="modal">Zapisz</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Adding new sitter (modal) -->
    <div id="editSitterModal" class="modal fade modal-top-margin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content sitter-modal">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Dodawanie nowego opiekuna</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div>Imię</div>
                        <input type="text" class="form-control" ng-model="newElement.firstname"/>
                    </div>
                    <div class="form-group">
                        <div>Nazwisko</div>
                        <input type="text" class="form-control" ng-model="newElement.lastname"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" ng-click="clear()" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-primary" ng-click="saveSitters()" data-dismiss="modal">Zapisz
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>